/* ************************** */
/* HEADER */
/* ************************** */
.header {
  display: flex;
  background-color: #fdf2e9;
  padding: 0 3.2rem;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

/* ************************** */
/* NAVIGATION */
/* ************************** */
.main-navigation {
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-list-item.nav-cta:link,
.main-nav-list-item.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.main-nav-list-item.nav-cta:hover,
.main-nav-list-item.nav-cta:active {
  background-color: #b8651b;
}

.main-nav-list-item:link,
.main-nav-list-item:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
  display: inline-block;
}

.main-nav-list-item:hover,
.main-nav-list-item:active {
  color: #b8651b;
}

/* ************************** */
/* HERO SECTION */
/* ************************** */

.hero-section {
  background-color: #fdf2e9;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 2.2rem 3.2rem 3.2rem 3.2rem;
}

.hero-img {
  width: 100%;
  padding: 2rem;
}

.hero-description-text {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 8rem;
}

/* Hero buttons */

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: 3px solid #fae5d3;
  margin-left: -1rem;
}

.delivered-text {
  font-size: 2rem;
}

.delivered-text span,
.container.center-text span {
  color: #b8651b;
  font-weight: 600;
}

/* ************************** */
/* HOW TO SECTION */
/* ************************** */
.how-to-section {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.step-img-box::before {
  background-color: #fdf2e9;
  width: 65%;
  padding-bottom: 65%;
}

.step-img-box::after {
  background-color: #f8d8bd;
  width: 50%;
  padding-bottom: 50%;

  z-index: -1;
}

.step-img {
  width: 35%;
}
.step-number {
  color: #ddd;
  font-size: 7.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.step-description {
  line-height: 1.6;
  font-size: 1.8rem;
  margin-top: 2rem;
}

/* ************************** */
/* FEATURED IN SECTION */
/* ************************** */
.featured-in-heading {
  margin-top: 4.4rem;
}

.featured-in-heading {
  text-align: center;
  margin: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ************************** */
/* MEALS SECTION */
/* ************************** */
.meals-section {
  margin: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.03);
  transform: translate(0, -0.5rem);
}

.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3rem;
}
.icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-name {
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 2rem;
}
.tag-container {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
/* ************************** */
/* MEALS SECTION */
/* ************************** */
.testimonial-section {
  display: grid;
  background-color: #fdf2e9;
  align-items: center;
  grid-template-columns: 55fr 45fr;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonial {
}
.testimonial-img {
  width: 6.3rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}
.testimonials-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  color: #888;
  font-size: 1.4rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-img {
  width: 100%;
  transition: all 0.4s;
  display: block;
}
.gallery-img:hover {
  transform: scale(1.1);
}
